<section class="todoapp">
  <header class="header">
    <h1>{{titre}}</h1>
    <form (submit) = "appendItem(newTodoInput.value); newTodoInput.value= '' ">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            [ngModel]="isAllDone()"
            (ngModelChange)="toggleAllDone()"
    />
    <ul  class="todo-list">
      <li *ngFor="let item of getFilteredItems()" [class.editing] = "itemCompo.showEdit" [class.completed] = "item.isDone">
        <app-todo-item #itemCompo [data]="item"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong>{{nbItems()}}</strong> restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll"
        (click)="currentFilter=filterAll"
        [class.selected] ="currentFilter==filterAll" >Tous</a>
      </li>
      <li>
        <a class="filterActives"
        (click)="currentFilter=filterUnDone"
        [class.selected] ="currentFilter==filterUnDone">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted"
        (click) = "currentFilter=filterDone"
        [class.selected] = "currentFilter==filterDone">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="removeCheckedItems()" >Supprimer cochées</button>
  </footer>
  <div class="footer">
    <button class="clear-completed" (click)="removeAllItems()" >Supprimer toute la todo list</button>
  </div>
</section>
<hr/>


<!-- <h2>Debug V1</h2>
<ul>
  <li *ngFor="let item of items">
    {{item | json}}
  </li>
</ul> -->

<!--Si on clique sur la checkbox, le json n'est pas modifié-->
<!-- <h2>Debug V2</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel] = "item.isDone"/>
    <label>{{item.label}}</label>
    <pre>{{item | json}}</pre>
  </li>
</ul> -->

<!--json ok-->
<!-- <h2>Debug V3</h2>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel] = "item.isDone" (ngModelChange)= "itemDone(item, $event)"/>
    <label>{{item.label}}</label>
    <pre>{{item | json}}</pre>
  </li>
</ul> -->

<!--edition du texte-->
<!-- <h2>Debug V4</h2>
<ul>
  <li *ngFor="let item of items">
    
    <input type="checkbox" [ngModel] = "item.isDone" (ngModelChange)= "itemDone(item, $event)"/>
    <form (submit)="itemLabel(item, newLab.value)">
      <input type="text" name="label" [ngModel]="item.label" #newLab/>
    </form>
    <label>{{item.label}}</label>
    <pre>{{item | json}}</pre>
  </li>
</ul> -->

<!--suppression de l'item-->
<!-- <h2>Debug V5</h2>
<ul>
  <li *ngFor="let item of items">
    
    <input type="checkbox" [ngModel] = "item.isDone" (ngModelChange)= "itemDone(item, $event)"/>
    <form (submit)="itemLabel(item, newLab.value)">
      <input type="text" name="label" [ngModel]="item.label" #newLab/>
    </form>
    <button (click)="removeItem">DELETE</button>
    <label>{{item.label}}</label>
    <pre>{{item | json}}</pre>
  </li>
</ul> -->